---
layout: default
title: alrojo
---







<style type="text/css">


.about {
	padding-bottom: 10px;
    padding-right: 20px;
    overflow: hidden;
    font-size: 16px;

}

.about img {
    margin-right: 15px;
    display:inline-block;
    width: 200px;
}

.about p {
    display:inline-block;
  	vertical-align:top;
    width:60%;
    margin: 0;
    padding: 0;
}

.about a:hover {
	color: #666;
}


.publication {
	padding-bottom: 10px;
    padding-right: 20px;
    overflow: hidden;
}

.publication img {
    margin-right: 15px;
    display:inline-block;
    width:80px;
    clear:left;
    display:inline-block;
  	vertical-align:top;
}

.publication p {
    display:inline-block;
    width:79%;
    font-size: 13px;
  	vertical-align:top;
    margin: 0;
    padding: 0;
}


</style>

<h3>About</h3>

<div class="about">
    <img src="https://scholar.google.dk/citations?view_op=medium_photo&user=YWLFeUkAAAAJ&citpid=1" />
    <p>I am currently a Research Assistant at the Technical University of Denmark where I lead the student-based research organization, <a href='https://www.dlcopenhagen.dk/'>Deep Learning Copenhagen</a>, together with Jose Juan Almagro Armenteros (Ph.D. student, BioInformatics). I previously did a one-year internship at Salesforce Research supervised by <a href='https://www.socher.org/'>Richard Socher</a>. I got my M.Sc. honors from the Technical University of Denmark supervised by <a href='http://cogsys.imm.dtu.dk/staff/winther/'>Ole Winther</a>. I am interested in Natural Language Processing, Generalization, Reinforcement Learning, BioInformatics, and ChemInformatics.
</div>​




<a class="link" href="mailto:alexander@herhjemme.dk" style="color: white; background: #4daf4a;">alexander@herhjemme.dk</a>
<a class="link" href="https://scholar.google.dk/citations?user=YWLFeUkAAAAJ&hl=en" style="color: white; background: #e41a1c;">Google Scholar Profile</a>
<a class="link" href="https://github.com/alrojo/me/blob/master/AlexanderResume.pdf" style="color: white; background: #984ea3;">Resume</a>
<a class="link" href="https://github.com/alrojo" style="color: white; background: #0E53A7;">GitHub</a>
<a class="link" href="https://www.linkedin.com/in/alexrosejo/" style="color: white; background: #999999;">LinkedIn</a>
<a class="link" href="https://twitter.com/alexrosejo" style="color: white; background: #4099FF;">Twitter</a>




<hr>

<h3>Publications</h3>
<a id="publications"></a>



  {% for publication in site.posts %}
  	{% if publication.type == "paper" %}  
	
  	<div class="publication">
    		{% if publication.image %}
	  			<img src="{{publication.image}}" />
		{% else %}
			  	<img src="/media/dummywhite.jpg" />
		{% endif %}

   	<p>
	    <b><a style="color:#525252; padding:0px 0px" href={{publication.link}} >{{ publication.title }}</b></a>
	    <br>
		{{ publication.author }}
		<br>
		{{ publication.journal }},  {{ publication.year }}<br>

		{% if publication.pdf %}
	  			<a class="link" href={{publication.pdf}}  style="color: white;background: #4daf4a">PDF</a>
		{% endif %}

		{% if publication.link %}
	  			<a class="link" href={{publication.link}}  style="color: white;background: #984ea3">Abstract</a>
		{% endif %}

		{% if publication.bibtex %}
	  			<a class="link" href="{{publication.bibtex}}" style="color: white; background: #e41a1c;">Bibtex</a>
		{% endif %}

		{% if publication.code %}
	  			<a class="link" href={{publication.code}}  style="color: white;background: #0E53A7">Code</a>
		{% endif %}

		{% if publication.website %}
	  			<a class="link" href={{publication.website}}  style="color: white;background: #d94801">Website</a>
		{% endif %}

    {% if publication.blog %}
          <a class="link" href={{publication.blog}}  style="color: white;background: #d94801">Blog</a>
    {% endif %}


 	</p>
 	</div>​
  {% endif %}
{% endfor %}
<hr>
<a id="teaching"></a>
<h3>Teaching</h3>

Below you can find a list over courses I have taught in.


<br>
<br>

<div class="publication">
    <img src="https://avatars3.githubusercontent.com/u/17336637?v=3&s=200" />
    <p>
      <b><a style="color:#525252; padding:0px 0px" href=https://github.com/DeepLearningDTU/02456-deep-learning >DTU course 02456 Deep learning</b></a><br>
        Head teaching assistant, designed programming exercises in PyTorch
        <br>
        Fall, 2019
        <br>
        <a class="link" href=https://github.com/DeepLearningDTU/02456-deep-learning-with-PyTorch  style="color: white;background: #0E53A7">Code</a>
        <a class="link" href=https://kurser.dtu.dk/course/02456 style="color: white;background: #D94801">Website</a>
    </p>
</div>​
<div class="publication">
    <img src="https://avatars3.githubusercontent.com/u/17336637?v=3&s=200" />
    <p>
      <b><a style="color:#525252; padding:0px 0px" href=https://alrojo.github.io >DTU special course Deep reinforcement learning</b></a><br>
        Co-intructor, designed and evaluated course
        <br>
        June, 2019
    </p>
</div>​
<div class="publication">
    <img src="https://avatars3.githubusercontent.com/u/17336637?v=3&s=200" />
    <p>
      <b><a style="color:#525252; padding:0px 0px" href=https://alrojo.github.io >DTU special course Introduction to reinforcement learning</b></a><br>
        Intructor, designed and evaluated course
        <br>
        Spring, 2019
    </p>
</div>​
<div class="publication">
    <img src="https://avatars3.githubusercontent.com/u/17336637?v=3&s=200" />
    <p>
      <b><a style="color:#525252; padding:0px 0px" href=https://github.com/DeepLearningDTU/02456-deep-learning >DTU course 02456 Deep learning</b></a><br>
        Head teaching assistant, developed programming exercises in PyTorch
        <br>
        Fall, 2018
        <br>
        <a class="link" href=https://github.com/DeepLearningDTU/02456-deep-learning-with-PyTorch  style="color: white;background: #0E53A7">Code</a>
        <a class="link" href=https://kurser.dtu.dk/course/02456 style="color: white;background: #D94801">Website</a>
    </p>
</div>​
<div class="publication">
    <img src="https://avatars3.githubusercontent.com/u/17336637?v=3&s=200" />
    <p>
      <b><a style="color:#525252; padding:0px 0px" href=https://github.com/DeepLearningDTU/02456-deep-learning >DTU course 02456 Deep learning</b></a><br>
        Teaching assistant, developed programming exercises in TensorFlow
        <br>
        Fall, 2016
        <br>
        <a class="link" href=https://github.com/DeepLearningDTU/02456-deep-learning  style="color: white;background: #0E53A7">Code</a>
        <a class="link" href=https://kurser.dtu.dk/course/02456 style="color: white;background: #D94801">Website</a>
    </p>
</div>​



<div class="publication">
    <img src="/media/nvidia_logo.jpg" />
    <p>     
      <b><a style="color:#525252; padding:0px 0px" href=https://github.com/alrojo/tensorflow-tutorial >Nvidia Deep Learning using TensorFlow</b></a><br>
              Exercise instructor, developed programming exercises in TensorFlow
              <br>
              September, 2016
              <br>
        <a class="link" href=https://github.com/DeepLearningDTU/nvidia_deep_learning_summercamp_2016  style="color: white;background: #0E53A7">Code</a>
    </p>
</div>​

<hr>
<a id="supervising"></a>
<h3>Supervising</h3>

As a part of my student lab with Jose Juan Almagro Armenteros (DTU Bioinformatics) we supervise graduate students at the Technical University of Denmark.
We supervise special courses (5-10 ECTS) and Master Thesis' (+30 ECTS).
If you are interested in joining our lab please write me an email with you resume and detail your background in machine learning.
We meet every Tuesday at 09:00 for football and 10:30-12:00 for the weekly research meeting.
Below are listed titles of the M.Sc. Thesis' (+30 ECTS) I have co-supervised.


<br>
<br>

<div class="publication">
    <p>
      <b><a style="color:#525252; padding:0px 0px" >Multi-label prediction of protein subcellular localization using deep learning</b></a><br>
        <a href=https://www.linkedin.com/in/morten-skovsted/ >Morten Skovsted</a>
        <br>
        Autumn, 2019
        <br>
    </p>
</div>​
<div class="publication">
    <p>
      <b><a style="color:#525252; padding:0px 0px" >Generalized autoregressive pretraining for improved understanding of proteins</b></a><br>
        <a href=https://www.linkedin.com/in/ >Magnus Nolsøe</a> and <a href=https://www.linkedin.com/in/ >Frederik Wollesen Andersen</a>
        <br>
        Autumn, 2019
        <br>
    </p>
</div>​
<div class="publication">
    <p>
      <b><a style="color:#525252; padding:0px 0px" >Partially autoregressive language modelling and editing of discrete sequences' thesis</b></a><br>
        <a href=https://www.linkedin.com/in/dan-horvath/ >Daniel Horvath</a>
        <br>
        Autumn, 2019
        <br>
    </p>
</div>​
<div class="publication">
    <p>
      <b><a style="color:#525252; padding:0px 0px" >Prediction of sorting signals in eukaryotic proteins using deep learning</b></a><br>
        <a href=https://www.linkedin.com/in/ >Magnús Halldór Gíslason</a>
        <br>
        Autumn, 2019
        <br>
    </p>
</div>​
<div class="publication">
    <p>
      <b><a style="color:#525252; padding:0px 0px" >Visual question answering using structured exploration and reinforcement learning</b></a><br>
        <a href=https://www.linkedin.com/in/jacob-johansen-02119514b/ >Jacob Johansen</a>
        <br>
        Autumn, 2019
        <br>
    </p>
</div>​
<div class="publication">
    <p>
      <b><a style="color:#525252; padding:0px 0px" >Evaluation of contextual molecular representations on predicting structural properties in binarized molecules</b></a><br>
        <a href=https://www.linkedin.com/in/jeppewolsen/ >Jeppe Waarkjær Olsen</a>
        <br>
        Autumn, 2019
        <br>
    </p>
</div>​
<div class="publication">
    <p>
      <b><a style="color:#525252; padding:0px 0px" >Evaluation of contextual amino acid representations on the prediction of N-terminal targeting peptides based on deep learning</b></a><br>
        <a href=https://www.linkedin.com/in/silaspihl/ >Silas Pihl</a>
        <br>
        Autumn, 2019
        <br>
    </p>
</div>​

<div class="publication">
    <p>
      <b><a style="color:#525252; padding:0px 0px" >Formal Language in Natural Language Processing</b></a><br>
        <a href=https://www.linkedin.com/in/raja-shan-zaker-krenn-b7787017b/ >Raja Shan Zaker Krenn</a>
        <br>
        Spring, 2019
        <br>
    </p>
</div>​
<div class="publication">
    <p>
      <b><a style="color:#525252; padding:0px 0px" >Predicting Recombinant Gene Expression in Bacillus using Deep Learning Techniques</b></a><br>
        <a href=https://www.linkedin.com/in/hmmartiny/ >Hannah-Marie Martiny</a>
        <br>
        Spring, 2019
        <br>
    </p>
</div>​
<div class="publication">
    <p>
      <b><a style="color:#525252; padding:0px 0px" >Evaluation of Pre-trained Amino Acid
Embeddings in Protein Prediction Tasks</b></a><br>
        <a href=https://www.linkedin.com/in/mikkelmbrusen/ >Mikkel Møller Brusen</a> and <a href=https://www.linkedin.com/in/gustav-madslund-71a769137/ >Gustav Madslund</a>
        <br>
        Spring, 2019
        <br>
        <a class="link" href=https://github.com/mikkelbrusen/embeddings-in-ppt  style="color: white;background: #0E53A7">Code</a>
    </p>
</div>​
<hr>
<a id="community"></a>
<h3>Community</h3>

To build a strong deep learning community in Denmark I organize events for students with machine learning researchers and interested companies.
So far this has led to 7 events with +1.5k student participants and sponsors such as Nordea, KPMG, Novozymes, Oticon, and Novo Nordisk.


<br>
<br>

<div class="publication">
    <img src="/media/brain.png" />
    <p>
      <b><a style="color:#525252; padding:0px 0px" href=https://www.meetup.com/Deep-Learning-DTU/ >Deep Learning Copenhagen</b></a><br>
        Organizing events centered around maching learning technologies
        <br>
        2018-present
        <br>
        <a class="link" href=https://www.meetup.com/Deep-Learning-DTU/ style="color: white;background: #E0393E">Meetup</a>
    </p>
</div>​
<hr>
